In [1]:
import pandas as pd
from pathlib import Path

In [2]:
file = Path("Resources/election_data.csv")

In [3]:
df = pd.read_csv(file)
df.head()

   Ballot ID     County                Candidate
0    1323913  Jefferson  Charles Casper Stockham
1    1005842  Jefferson  Charles Casper Stockham
2    1880345  Jefferson  Charles Casper Stockham
3    1600337  Jefferson  Charles Casper Stockham
4    1835994  Jefferson  Charles Casper Stockham

In [4]:
df.count()

Ballot ID    369711
County       369711
Candidate    369711
dtype: int64

In [7]:
count = df["Candidate"].count()
count

369711

In [8]:
Candidate_u_df = df["Candidate"].unique()
Candidate_u_df

array(['Charles Casper Stockham', 'Diana DeGette', 'Raymon Anthony Doane'],
      dtype=object)

In [9]:
Candidate_c = df["Candidate"].value_counts()
Candidate_c

Candidate
Diana DeGette              272892
Charles Casper Stockham     85213
Raymon Anthony Doane        11606
Name: count, dtype: int64

In [10]:
winner = Candidate_c.idxmax()
winner

'Diana DeGette'

In [12]:
c_p = Candidate_c.div(df["Candidate"].count()) * 100
c_p

Candidate
Diana DeGette              73.812248
Charles Casper Stockham    23.048543
Raymon Anthony Doane        3.139209
Name: count, dtype: float64